<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>类型</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<BODY>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment Navigation-setting">
  <div class="ui container container-setting">
    <div class="ui inverted secondary stackable menu menu-setting">
      <h2 class="ui teal header item h2-setting">分类管理</h2>
      <a href="#" class="active m-item item m-mobile-hide"><i class="desktop icon"></i>博客</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="adjust icon"></i>分类</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="tablet icon"></i>标签</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="item" style="left:40%">
          <div class="ui dropdown item">
            <div class="text">
              <img src="../../static/images/girl.jpg" alt="" class="ui avatar img" th:src="@{/images/girl.jpg}">
              basco
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" class="item">注销</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black button m-position-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>
<div class="ui attached menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" class="item" th:href="@{/admin/tags/input}">新增</a>
      <a href="#" class="ui active teal basic item" th:href="@{/admin/tags}">列表</a>
    </div>
  </div>
</div>

<!--中间部分-->
<div class="middle-setting m-padded-tb-large2">
  <div class="ui container">
    <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
      <i class="close icon"></i>
      <div class="header">提示: </div>
      <p th:text="${message}">恭喜，操作成功! </p>
    </div>
    <table class="ui table">
      <thead>
      <tr>
        <th>#</th>
        <th>分类名称</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tag,iterStat : ${page.content}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${tag.name}">认知升级</td>
        <td>
          <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}"
             class="ui mini teal button">编辑</a>
          <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}"
             class="ui mini red button">删除</a>
        </td>
      </tr>
      <tfoot>
      <tr>
        <th colspan="6">
          <div class="ui pagination menu" th:if="${page.totalPages>1}">
            <a th:href="@{/admin/tags(page=${page.number}-1)}" class="item"
               th:unless="${page.first}">上一页</a>
            <a th:href="@{/admin/tags(page=${page.number}+1)}" class="item"
               th:unless="${page.last}">下一页</a>
          </div>
          <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal button">新增</a>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
</div>
<br>
<br>
<br>
<!--底部标签-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical center aligned segment footer-setting ">
  <div class="ui inverted divided stackable grid m-padded-tb-large" style="font-size: 15px">
    <div class="three wide column">
      <img src="../../static/images/wechat.jpg" alt="SHIT" class="ui left aligned rounded image img-setting"
           style="width: 110px">
    </div>
    <div class="three wide column">
      <h4 class="ui inverted header" style="font-size: 15px">最新博客</h4>
      <div class="ui inverted link list">
        <a href="#" class="item">用户故事(User Story) </a>
        <a href="#" class="item">用户故事(User Story) </a>
        <a href="#" class="item">用户故事(User Story) </a>
      </div>
    </div>

    <div class="three wide column">
      <h4 class="ui inverted header" style="font-size: 15px">最新博客</h4>
      <div class="ui inverted link list">
        <a href="#" class="item">用户故事(User Story) </a>
        <a href="#" class="item">用户故事(User Story) </a>
        <a href="#" class="item">用户故事(User Story) </a>
      </div>
    </div>

    <div class="seven wide column">
      <h4 class="ui inverted header" style="font-size: 15px">最新博客</h4>
      <p>陈伟霆回应高铁上要签名的粉丝，表示自己当时戴着耳机，不知道具体发生了什么事情，签名照签好了，邮寄给你。</p>
    </div>

    <div class="ui inverted section divider divider-setting">
      <br>
      <br>
      © 1997-2020 basco公司版权所有 About NetEase
    </div>
  </div>
</footer>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('#payButton').popup({
    popup: $('.payQR.popup'),
    on: 'click',
    position: 'bottom center'
  });

  $('.ui.dropdown')
          .dropdown();

  //消息提示关闭初始化
  $('.message .close')
          .on('click',function () {
            $(this)
                    .closest('.message')
                    .transition('fade');
          });
</script>
</BODY>
</html>